@import '../../styles/variables.scss';

$hi-z: 1000;

.youtube-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
	z-index: 1;
	div {
		height: 100%;
		iframe {
			height: 100%;
			width: 100%;
		}
	}
}

.player-controls {
	z-index: $hi-z;
	position: fixed;
	bottom: $gutter-unit;
	width: 80%;
	display: flex;
	box-shadow: 0px 5px 52px -14px rgba(0,0,0,0.75);
	input {
		border-radius: 0px !important;
		padding: $gutter-unit/3;
	}
	input.video-url {
		width: 80%;
	}
	input.play-btn {
		width: 10%;
	}
	input.pomo-btn {
		width: 10%;
	}
}