* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(233, 94, 94);
	height: 100%;
	width: 100%;
}

input {
	border: 1px solid black;
}

input[type="password"] {
	width: 40vw;
	background: #423c3c;
	font-family: 'Segoe UI';
	font-size: 2rem;
	text-align: center;
	color: white;
}

label {
	font-size: 2rem;
}

button {
	background-color: #ff6a6a;
	font-family: 'Segoe UI';
	font-size: 2rem;
	border: 1px solid black;
	width: 10vw;
}
